.header {
  background-color: #f0f0f0;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
  }


  img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;

  }

}